<div class="app-title">
    <ul class="app-breadcrumb breadcrumb side">
        <li class="breadcrumb-item active"><a href="#"><b>Phản hồi</b></a></li>
    </ul>
    <div id="clock"></div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body">
                <div class="row element-button">
                    <table class="table table-hover table-bordered" id="sampleTable">
                        <thead>
                            <tr>
                                <th style="width:18%">Tên người dùng</th>
                                <th style="width:12%">Email</th>
                                <th style="width:10%">Số diện thoại</th>
                                <th style="text-align:center">Nội dung</th>
                                <th style="4%"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each feedback}}
                            <tr>
                                <td>{{this.name}}</td>
                                <td>{{this.email}}</td>
                                <td>{{this.phoneNumber}}</td>
                                <td>{{this.content}}</td>
                                <td style="width:5%"> <a href="/admin/FBLake/delete?id={{this.id}}" class="btn btn-primary btn-sm trash"
                                        type="button" title="Xóa" onclick="myFunction(this)"><i
                                            class="fas fa-trash-alt"></i>
                                        <form method="post" action="/admin/FBLake/delete?id={{this.id}}&_method=DELETE">
                                            <input type="submit">
                                        </form>
                                    </a>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <style>
        .a.btn.btn-primary.btn-sm.trash {
            width: 25px;
            height: 20px;
        }

        input[type="submit"] {
            margin: -17px;
            opacity: 0;
        }
    </style>

    <script>

    </script>