<head>
  <title>{{title}}</title>
</head>
<div class="row">
  <div class="col-md-12">
    <div class="app-title">
      <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item"><a href="#"><b>Bảng điều khiển</b></a></li>
      </ul>
      <div id="clock"></div>
    </div>
  </div>
</div>
<div class="row">
  <!--Left-->
  <div class="col-md-12 col-lg-6">
    <div class="row">
      <!-- col-6 -->
      <div class="col-md-6">
        <div class="widget-small primary coloured-icon"><i class="icon bx bxs-user-account fa-3x"></i>
          <div class="info">
            <h4>Tổng khách hàng</h4>
            <p><b>{{totalUsers}} khách hàng</b></p>
            <p class="info-tong">Tổng số khách hàng được quản lý.</p>
          </div>
        </div>
      </div>
      <!-- col-6 -->
      <div class="col-md-6">
        <div class="widget-small info coloured-icon"><i class="icon bx bxs-data fa-3x"></i>
          <div class="info">
            <h4>Tổng sản phẩm</h4>
            <p><b>{{totalProducts}} sản phẩm</b></p>
            <p class="info-tong">Tổng số sản phẩm được quản lý.</p>
          </div>
        </div>
      </div>
      <!-- col-6 -->
      <div class="col-md-6">
        <div class="widget-small warning coloured-icon"><i class="icon bx bxs-shopping-bags fa-3x"></i>
          <div class="info">
            <h4>Tổng đơn hàng</h4>
            <p><b>{{totalBills}} đơn hàng</b></p>
            <p class="info-tong">Tổng số hóa đơn bán hàng trong tháng.</p>
          </div>
        </div>
      </div>
      <!-- col-6 -->
      <div class="col-md-6">
        <div class="widget-small danger coloured-icon"><i class="icon bx bxs-error-alt fa-3x"></i>
          <div class="info">
            <h4>Sắp hết hàng</h4>
            <p><b>{{checkProducts productsAmout}} sản phẩm</b></p>
            <p class="info-tong">Số sản phẩm cảnh báo hết cần nhập thêm.</p>
          </div>
        </div>
      </div>
      <!-- col-12 -->
      <div class="col-md-12">
        <div class="tile">
          <h3 class="tile-title">Tình trạng đơn hàng</h3>
          <div>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>ID đơn hàng</th>
                  <th>Tên khách hàng</th>
                  <th>Tổng tiền</th>
                  <th>Trạng thái</th>
                </tr>
              </thead>
              <tbody>
                {{#each bills}}
                <tr>
                  <td>{{this.id}}</td>
                  <td>{{this.fullname}}</td>
                  <td>
                    {{this.total_money}} đ
                  </td>
                  <td><span class="badge">{{this.status}}</span></td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
          <!-- / div trống-->
        </div>
      </div>
      <!-- / col-12 -->
      <!-- col-12 -->
      <div class="col-md-12">
        <div class="tile">
          <h3 class="tile-title">Khách hàng mới</h3>
          <div>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Tên khách hàng</th>
                  <th>Địa chỉ</th>
                  <th>Số điện thoại</th>
                </tr>
              </thead>
              <tbody>
                {{#each users}}
                <tr>
                  <td>{{this.id}}</td>
                  <td>{{this.fullname}}</td>
                  <td>{{this.address}}</td>
                  <td><span class="tag tag-success">{{this.phone_number}}</span></td>
                </tr>
                {{/each }}
              </tbody>
            </table>
          </div>

        </div>
      </div>
      <!-- / col-12 -->
    </div>
  </div>
  <!--END left-->
  <!--Right-->
  <div class="col-md-12 col-lg-6">
    <div class="row">
      <div class="col-md-12">
        <div class="tile">
          <h3 class="tile-title">Dữ liệu 6 tháng đầu vào</h3>
          <div class="embed-responsive embed-responsive-16by9">
            <canvas class="embed-responsive-item" id="lineChartDemo"></canvas>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="tile">
          <h3 class="tile-title">Thống kê doanh thu</h3>
          <div class="embed-responsive embed-responsive-16by9">
            <canvas class="embed-responsive-item" id="barChartDemo"></canvas>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!--END right-->
</div>
{{#each productsName}}
<input type="hidden" class="nameProduct" value="{{this}}">
{{/each}}

<script>
  const nameProducts = document.querySelectorAll('.nameProduct');

  let arrName = []
  nameProducts.forEach((name) => arrName.push(name.value));
  console.log(arrName);
  let productsAmout = [{{ productsAmout }}]



  const ctx = document.getElementById('lineChartDemo');
  const ctx2 = document.getElementById('barChartDemo');

  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: arrName,
      datasets: [{
        label: 'Số lượng sản phẩm',
        data: productsAmout,
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });

  const labels = ['tháng 1', 'tháng 2', 'tháng 3', 'tháng 4', 'tháng 5', 'tháng 6', 'tháng 7', 'tháng 8', 'tháng 9', 'tháng 10', 'tháng 11', 'tháng 12',];
  new Chart(ctx2, {
    type: 'line',
    data: {
      labels: labels,
      datasets: [{
        label: 'Doanh thu',
        data: [65000000, 59000000, 80000000, 81000000, 56000000, 95000000, 1, 1, 1, 1, 1, 1],
        fill: false,
        borderColor: 'rgb(75, 192, 192)',
        tension: 0.1
      }]
    }
  });


  const listBadge = document.querySelectorAll('.badge');
  console.log(listBadge);
  listBadge.forEach((bage) => {
    if (bage) {
      if (bage.textContent === 'đang xử lý') {
        bage.classList.add('bg-info');
      } else if (bage.textContent === 'đang vận chuyển') {
        bage.classList.add('bg-warning');
      } else if (bage.textContent === 'đã giao') {
        bage.classList.add('bg-success');
      }
      else if (bage.textContent === 'đã hủy') {
        bage.classList.add('bg-danger');
      }
    }
  })


</script>

{{!
<script src="/js/plugins/chart.js"></script> }}