<div class="row">
    <div class="col-md-12">
        <div class="app-title">
            <ul class="app-breadcrumb breadcrumb">
                <li class="breadcrumb-item"><a href="#"><b>Báo cáo doanh thu </b></a></li>
            </ul>
            <div id="clock"></div>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-md-6 col-lg-3">
        <div class="widget-small primary coloured-icon"><i class='icon fa-3x bx bxs-chart'></i>
            <div class="info">
                <h4>Tổng thu nhập</h4>
                <p><b>{{totalPrice}}</b></p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="widget-small info coloured-icon"><i class='icon bx bxs-purchase-tag-alt fa-3x'></i>
            <div class="info">
                <h4>Tổng sản phẩm</h4>
                <p><b>{{totalProducts}} sản phẩm</b></p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="widget-small warning coloured-icon"><i class='icon fa-3x bx bxs-shopping-bag-alt'></i>
            <div class="info">
                <h4>Tổng đơn hàng</h4>
                <p><b>{{totalBills}} đơn hàng</b></p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="widget-small danger coloured-icon"><i class='icon fa-3x bx bxs-receipt'></i>
            <div class="info">
                <h4>Đơn hàng hủy</h4>
                <p><b>{{totalHuy}} đơn hàng</b></p>
            </div>
        </div>
    </div>
</div>
<div class="row">




</div>

<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div>
                <h3 class="tile-title">TỔNG ĐƠN HÀNG</h3>
            </div>
            <div class="tile-body">
                <table class="table table-hover table-bordered" id="sampleTable">
                    <thead>
                        <tr>
                            <th>ID đơn hàng</th>
                            <th>Khách hàng</th>
                            <th>Địa điểm</th>
                            <th>Số lượng</th>
                            <th>Tổng tiền</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each bills}}
                        <tr>
                            <td>{{this.id}}</td>
                            <td>{{this.bills.fullname}}</td>
                            <td>{{this.bills.address}}</td>
                            <td>{{this.amout}} sản phẩm</td>
                            <td>{{this.bills.total_money}} đ</td>
                        </tr>
                        {{/each}}

                        <tr>
                            <th colspan="4">Tổng cộng:</th>
                            <td>{{totalPrice}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="tile">
            <h3 class="tile-title">THỐNG KÊ DOANH SỐ</h3>
            <div class="embed-responsive embed-responsive-16by9">
                <canvas class="embed-responsive-item" id="lineChartDemo"></canvas>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="tile">
            <h3 class="tile-title">DỮ LIỆU HÀNG THÁNG</h3>
            <div class="embed-responsive embed-responsive-16by9">
                <canvas class="embed-responsive-item" id="barChartDemo"></canvas>
            </div>
        </div>
    </div>
</div>

{{#each productsName}}
<input type="hidden" class="nameProduct" value="{{this}}">
{{/each}}
<script>
    const nameProducts = document.querySelectorAll('.nameProduct');

    let arrName = []
    nameProducts.forEach((name) => arrName.push(name.value));
    console.log(arrName);
    let productsAmout = [{{ productsAmout }}]

    const ctx = document.getElementById('lineChartDemo');
    const ctx2 = document.getElementById('barChartDemo');

    new Chart(ctx, {
        type: 'bar',
        data: {
            labels: arrName,
            datasets: [{
                label: 'Số lượng sản phẩm',
                data: productsAmout,
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

    const labels = ['tháng 1', 'tháng 2', 'tháng 3', 'tháng 4', 'tháng 5', 'tháng 6', 'tháng 7', 'tháng 8', 'tháng 9', 'tháng 10', 'tháng 11', 'tháng 12',];
    new Chart(ctx2, {
        type: 'line',
        data: {
            labels: labels,
            datasets: [{
                label: 'Doanh thu',
                data: [65000000, 59000000, 80000000, 81000000, 56000000, 95000000, 1, 1, 1, 1, 1, 1],
                fill: false,
                borderColor: 'rgb(75, 192, 192)',
                tension: 0.1
            }]
        }
    });
</script>