<style>
  .list-size span,
  #size {
    padding: 10px;
    border-radius: 7px;
    text-align: center;
    color: black;
    background-color: white;
    cursor: pointer;
  }

  .amount input {
    color: white;
    background: #303030;
    text-align: center;
    border: 1px solid white;
    width: 50px;
    padding: 10px 5px;
    font-size: 15px;
    height: 100%;
    cursor:
      pointer;
    outline: none;
  }
</style>
<div class="mt-[100px] px-[50px]">

  <a class="mb-4 text-xl" href="/">Trang chủ</a>
  <div class="main grid grid-cols-2 gap-x-8 mt-4">
    <div class="main-left">
      <div class="h-[700px] rounded overflow-hidden" style="background-color: A6A6A6;">
        <img src="/upload/{{product.img}}" alt="" class="product_img object-cover max-w-full object-center" />
      </div>
    </div>
    <div class="main-right">
      <h1 class="product_name text-3xl mb-5 leading-7 font-bold">{{product.name}} </h1>
      <span class="block text-3xl mb-4" style="color: #ffc107;"><span
          class="product_price ">{{product.price}}</span>₫</span>
      <div>
        <h2 class="mb-3">Size :</h2>
        <select id="size" name="size">
          <option value="38">38</option>
          <option value="39">39</option>
          <option value="40">40</option>
          <option value="41">41</option>
          <option value="42">42</option>
          <option value="43">43</option>
          <option value="44">44</option>
        </select>
        <div class="list-size grid grid-cols-9 gap-x-4 w-[480px]">
        </div>
        <div class="h-[1px] bg-white mt-3"></div>
      </div>

      <div class="mt-5 flex gap-x-10">

        <div class="amount flex">
          <input class="btn-decrement" type="button" value="-" />
          <input class="inp-quantity" type="text" name="quantity" value="1" min="1" />
          <input class="idProduct" type="hidden" name="id" value="{{product.id}}" />
          <input class="btn-increment" type="button" value="+" />
        </div>
        <button onclick="handleAddToCart()"
          class="add-toCart px-10 flex-1 text-white bg-black py-2 text-center rounded text-xl font-bold">Thêm Vào
          Giỏ</button>
      </div>

      <div class="mt-10">
        <h2 class="text-xl font-bold mb-4">Thông Tin Sản Phẩn</h2>
        <p class="text-lg">Phong cách “Giày của bố” được mang trở lại xu hướng
          thiết kế trong những năm trở lại đây, và đã được RieNevan lấy cảm hứng
          thiết kế cho dòng sản phẩm mới mang tên
          <b>{{product.name}}</b>, là dòng sản phẩm tiếp theo nằm trong bộ sưu
          tập
          <b>“Classick”</b>
          của RieNevan trong năm 2023 này. Với sự kết hợp dễ dàng cùng đa phong
          cách thời trang, và tối ưu trọng lượng siêu nhẹ,<b>{{product.name}}</b>
          là một sự lựa chọn tuyệt vời để bạn khoe cá tính mỗi ngày.
        </p>
      </div>
    </div>
  </div>

  <script>
    const bntIncrement = document.querySelector(".btn-increment");
    const idProduct = document.querySelector(".idProduct");
    const product_img = document.querySelector(".product_img");
    const product_price = document.querySelector(".product_price")
    const product_name = document.querySelector(".product_name")
    const btnDecrement = document.querySelector(".btn-decrement");
    const btnQuantity = document.querySelector(".inp-quantity");
    const sizeSelect = document.getElementById("size");

    bntIncrement.addEventListener("click", function (e) {
      btnQuantity.value = Number(btnQuantity.value) + 1

    });
    btnDecrement.addEventListener("click",
      function (e) {
        if (Number(btnQuantity.value) < 2) {
          btnQuantyti.value = 1;
        } else { btnQuantity.value = Number(btnQuantity.value) - 1 }
      });

    function handleAddToCart() {
      let product = {
        id: idProduct.value,
        img: product_img.src,
        name: product_name.textContent,
        price: Number(product_price.textContent),
        size: sizeSelect.value,
        Quantity: Number(btnQuantity.value),
      }

      let cart = [];
      if (localStorage.getItem('cart')) {
        let storage = localStorage.getItem('cart');
        cart = JSON.parse(storage);
        let item = cart.find((c) => c.id == product.id && c.size == product.size)
        if (item) {
          item.Quantity += product.Quantity
        }
        else {
          cart.push(product);
        }
      } else {
        cart.push(product);
      }
      localStorage.setItem('cart', JSON.stringify(cart))
      location.reload();

    }



  </script>
</div>