<div class="banner bg-gray-400 mt-[50px]">
  <div id="carouselExampleAutoplaying" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item">
        <img src="/img/slider1.webp" class="d-block w-100" alt="..." />
      </div>
      <div class="carousel-item">
        <img src="/img/slider2.webp" class="d-block w-100" alt="/img/slider1.webp" />
      </div>
      <div class="carousel-item">
        <img src="/img/slider3.webp" class="d-block w-100" alt="/img/slider1.webp" />
      </div>
      <div class="carousel-item active">
        <img src="/img/slider4.webp" class="d-block w-100" alt="/img/slider1.webp" />
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying "
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<div class="main mt-16">
  <div class="main-heading h-[740px] mb-8">
    <img src="https://file.hstatic.net/200000536779/file/play-banner_a1cf1b7f6ea24983bf4b5dabe8b037c1.jpg" alt=""
      class="max-w-full object-cover" />

  </div>
  <div class="main-products">
    <div class="list-products flex gap-x-6 px-12 overflow-x-auto overflow-y-hidden">
      {{#each data.products1}}
      <div class="item-product rounded-lg bg-gray-500 min-w-[500px]">
        <a class="h-[350px] cursor-pointer block" href="/products/{{this.id}}">
          <img src="/upload/{{this.img}}" alt="" class="max-w-full object-cover" />
        </a>
        <div class="mt-[80px] flex flex-col justify-between h-[70px] ps-3">
          <h2 class="text-lg text-white-700">{{this.name}}</h2>
          <span class="text-lg" style="color:#ffc107">{{formatMoney this.price}}₫</span>
        </div>
      </div>
      {{/each}}
    </div>

    <div class="text-center mt-20">
      <a class="px-7 py-3 bg-black rounded border-none" href="">Xem sản phẩm
        <b>RIENEVAN LIFESTYLE</b></a>
    </div>

    <div class="grid grid-cols-2 gap-x-6 mt-16">
      <div><img src="https://file.hstatic.net/200000536779/file/playg_bb31d6843a7a472cae87708fde7f2ee9.jpg" alt="" />
      </div>
      <div><img src="https://file.hstatic.net/200000536779/file/snap_b21dbdfabbaa47b8b21302d78bf1bf99.jpg" alt="" />
      </div>
    </div>
  </div>
  <div class="main-heading h-[740px] mb-8 mt-10">
    <img src="https://file.hstatic.net/200000536779/file/sb_46c9af4eff254d4a82ae040c7a901348.jpg" alt=""
      class="max-w-full object-cover" />
  </div>
  <div class="main-products">
    <div class="list-products flex gap-x-6 px-12 overflow-x-auto overflow-y-hidden">
      {{#each data.products2}}
      <div class="item-product rounded-lg bg-gray-500 min-w-[500px]">
        <a class="h-[350px] cursor-pointer block" href="/products/{{this.id}}">
          <img src="/upload/{{this.img}}" alt="" class="max-w-full object-cover" />
        </a>
        <div class="mt-[80px] flex flex-col justify-between h-[70px] ps-3">
          <h2 class="text-lg text-white-700">{{this.name}}</h2>
          <span class="text-lg" style="color:#ffc107">{{formatMoney this.price}}₫</span>
        </div>
      </div>
      {{/each}}

    </div>

    <div class="text-center mt-20">
      <a class="px-7 py-3 bg-black rounded border-none" href="">Xem sản phẩm
        <b>RIENEVAN LIFESTYLE</b></a>
    </div>

  </div>

  <div class="main-heading h-[740px] mb-8 mt-10">
    <img src="https://file.hstatic.net/200000536779/file/111_e722f53a95084cd1a0747e8e35f7b011.jpg" alt=""
      class="max-w-full object-cover" />
  </div>
  <div class="main-products">
    <div class="list-products flex gap-x-6 px-12 overflow-x-auto overflow-y-hidden">
      {{#each data.products3}}
      <div class="item-product rounded-lg bg-gray-500 min-w-[500px]">
        <a class="h-[350px] cursor-pointer block" href="/products/{{this.id}}">
          <img src="/upload/{{this.img}}" alt="" class="max-w-full object-cover" />
        </a>
        <div class="mt-[80px] flex flex-col justify-between h-[70px] ps-3">
          <h2 class="text-lg text-white-700">{{this.name}}</h2>
          <span class="text-lg" style="color:#ffc107">{{formatMoney this.price}}₫</span>
        </div>
      </div>
      {{/each}}

    </div>
    <div class="text-center mt-20">
      <a class="px-7 py-3 bg-black rounded border-none" href="">Xem sản phẩm
        <b>RIENEVAN LIFESTYLE</b></a>
    </div>

  </div>
</div>